# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
.eggs/
venv/
.venv/
env/

# PyInstaller
*.spec
*.manifest

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
Thumbs.db
Desktop.ini

# Project
*.sqlite3
*.db
config/*.json
!config/default_config.json

